<div class="row">
  <div class="col border-box">
    <div class="center">
      <h2 class="m-t-20">New Task</h2>
    </div>
    <app-form-edit [type]="'create'" (created)="loadData()"></app-form-edit>
  </div>
  <div class="col border-box">
    <div class="center">
      <h2 class="m-t-20">To Do List</h2>
    </div>
    <div class="row">
      <div class="col">
        <input class="form-control b-r-04" placeholder="Search ..." (keyup)="search($event.target.value)"/>
      </div>
    </div>
    <div class="box-task">
      <app-item-list *ngFor="let item of dataTask" 
       [data]="item" (deletedEvent)="loadData()" (updatedEvent)="loadData()" (selectedEvent)="selected($event)">
      </app-item-list>
    </div>
    <div class="row p-0 bg-grey m-r-l" *ngIf="selectedTask.length > 0">
      <div class="col p-0">
        <div class="border-box">
          <div class="row">
            <div class="col center-vertical">
              <span>Bulk action :</span>
            </div>
            <div class="col">
              <button class="btn btn-remove right" (click)="multiDetele()">Remove</button>
              <button class="btn btn-done right m-r-10" (click)="done()">Done</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
