<div>
  <div class="row">
    <div class="col">
      <input #title class="form-control b-r-04" [(ngModel)]="dataTask.title" placeholder="{{type == 'create' ? 'Add new task' : ''}}"/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Description</label>
      <textarea class="form-control rs-vertical" [(ngModel)]="dataTask.description" rows="4"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Dua Date</label>
      <input class="form-control" [ngModel]="dataTask.dueDate | date:'yyyy-MM-dd'" (ngModelChange)="dataTask.dueDate = $event" [min]="currentDate | date:'yyyy-MM-dd'" type="date"/>
    </div>
    <div class="col">
      <label>Piority</label>
      <select class="form-control" [(ngModel)]="dataTask.piority">
        <option value="low">Low</option>
        <option value="normal">Normal</option>
        <option value="high">High</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <Button class="btn btn-add w-100" (click)="save()">{{type === 'create' ? 'Add' : 'Update'}}</Button>
    </div>
  </div>
</div>