<div class="row">
  <div class="col">
    <div class="border-box">
      <div class="row center-vertical">
        <div class="col">
          <input type="checkbox" (change)="selected(data.id)">
            <span>{{data.title}}</span>
        </div>
        <div class="col">
          <button class="btn btn-remove right" (click)="deteted(data.id)">Remove</button>
          <button class="btn btn-detail right m-r-10" (click)="showDetail = !showDetail">Detail</button>
        </div>
      </div>
    </div>
    <div class="border-box" *ngIf="showDetail">
      <app-form-edit [type]="'update'" [dataEdit]="data" (updated)="updated()"></app-form-edit>
    </div>
  </div>
</div>