/* You can add global styles to this file, and also import other style files */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.border-box {
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.box-task {
  height: 500px;
  overflow: auto;
}

.m-r-l {
  margin-right: -15px;
  margin-left: -15px;
}

.p-20 {
  padding: 20px;
}
.p-0 {
  padding: 0px !important;
}
.m-t-20 {
  margin-top: 20px;
}
.center {
  text-align: center;
}
.center-vertical {
  align-items: center;
  display: flex;
}
.right {
  float: right;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
}

.w-100 {
  width: 100%;
}
.form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.15;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* border-radius: .25rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.btn {
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.4rem;
}
.b-r-04 {
  border-radius: 0.4rem;
}
.rs-vertical {
  resize: vertical;
}
.btn-add {
  color: #fff;
  background-color: #18c33f;
  border-color: #18c33f;
}
.btn-detail {
  color: #fff;
  background-color: #18a9e2;
  border-color: #18a9e2;
  word-wrap: break-word;
  width: 100px;
  max-width: 100%;
}
.btn-remove {
  color: #fff;
  background-color: #d12d10;
  border-color: #d12d10;
  word-wrap: break-word;
  width: 100px;
  max-width: 100%;
}
.btn-done {
  color: #fff;
  background-color: #1d42e7;
  border-color: #1d42e7;
  word-wrap: break-word;
  width: 100px;
  max-width: 100%;
}
.bg-grey {
  background-color: darkgrey;
  /* position: absolute;
    bottom: 0;
    width: 100%; */
}

@media only screen and (min-width: 768px){
    .m-r-10 {
        margin-right: 10px;
    }
}
